
<Files "config.secret.php">
  Require all denied
</Files>


<IfModule mod_mime.c>
  AddType text/yaml .yml
  AddType text/yaml .yaml
</IfModule>

<IfModule mod_headers.c>
  <Files "config.yml">
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
  </Files>
</IfModule>
